---
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<main style="padding: 4rem; max-width: 900px; margin: auto;">
		<h1>Sitio de pruebas (Astro)</h1>
		<p>Entorno de desarrollo en Astro + Cloudflare Pages.</p>
	</main>
</Layout>
